.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #12a35a;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  align-items: center;

  
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(170, 80, 80, 0.2);
}

.container {
  padding: 2px 16px;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centered {

  justify-content: center;
  align-items: center;
  width:25%;
  border: 1px solid;
  border-radius:10px;

}

.divWidths {
  
  display: flex;
  align-items: 
  flex-direction:row;
  width:100%;
  height:80%;
  flex: 1;
  top: 60;
  flexDirection: "row",
  flexWrap: "wrap",
  marginBottom: 1
}


.liFont {

  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  font-size: 100%;
  font-weight: x-large;
  
}